{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
<h1> About Us </h1>

<h2> IJVR News </h2>
<h4> New Editor-In-Chief And Editorial Office </h4>
<p>IPI Press is very pleased to announce that Prof. Cedric Buche of the Brest National Engineering School located at Brest, France, has been chosen as the new Editor-in-Chief of the IJVR. His personal website is located at www.enib.fr/~buche and his CV is available for inspection at www.enib.fr/~buche/data/CV_English.pdf. His institution will become the new host of the IJVR, and the new editorial office will be located in Brest. Authors wishing to submit papers to be reviewed for publication in the IJVR can be sent to him at ijvrsubmit6@gmail.com . </p>
<h4>Publication will resume in 2014</h4>
We anticipate the publication of 3 issues in 2014. By 2015 we are hoping to be back on an annual schedule of 4 issues.

<h2> Mission Statement </h2>
<p>The original statement of purpose for the IJVR developed in 1995 which still holds true today was: 
"The International Journal of Virtual Reality is a multimedia publication dedicated to the cooperative development and application of diverse technologies associated with virtual reality. It is designed to disseminate relevant new information to professionals in all aspects of the field using the latest in publishing technology."
<br/>
Over time, the VR field has become ever-increasingly divided into many subfields, many of which now have their own specialized journals. Over the last six years the Editor-in-Chief Prof. Zhigeng Pan, chose to maintain a broad interpretation of the definition of the term "virtual reality", and thus an equally broad range of subjects to publish in the IJVR. After recent reconsideration of the scope of the IJVR, IPI Press has decided to follow the lead of Prof. Pan and while keeping the name "Virtual Realiy" in the title of the journal for its historical significance, continue to maintain a very broad definition of the term "Virtual Reality".
<br/>
The term "International" in the title continues to be an emphasis, but even more so in the current world of advanced international telecommunications and ubiquitus computer technologies. The IJVR will continue to emphasize its international character by encouraging computer scientists in underdeveloped nations and nations where English is a second language to actively participate as authors, as associates, and as subscribers. The term "International" in the title continues to be an emphasis, but even more so in the current world of advanced international telecommunications and ubiquitus computer technologies. The IJVR will continue to emphasize its international character by encouraging computer scientists in underdeveloped nations and nations where English is a second language to actively participate as authors, as associates, and as subscribers. </p>

<h2>History</h2>
<p>The IJVR journal has evolved as the potential for this technology has evolved over the last 30 years. We have been in existence since 1995, and were headquartered in Hangzhou, China, from 2006 to 2012. As founder and original Editor-in-Chief of the IJVR in the USA in 1995, I (Richard Blade, Ph.D.) want to personally commend and thank the Chinese editorial office under Prof. Zhigeng Pan, the EiC, for their outstanding job of managing the website, printing, and mailing the IJVR from 2006 through 2012. Being subsidized by various sources, the website remained open to the public and the most of the Asian institutional print subscribers were not charged for their subscriptions. Even the international subscribers of the print copy were charged relatively little compared to comparable computer science journals. Now that the IJVR is reverting back to the IPI Press headquarters in the USA, we shall make use of not only the latest print technology, including full color on all pages and on-demand printing, but we hope to make use of many of the past IJVR associates.
<br/>
However, it went on to describe the primary purpose of the publication was to add a CDROM containing computer multimedia to the print copy to allow authors to illustrate their papers with not just static images, but videos and VR software. During the first few years the World Wide Web (WWW) was just in its infancy, but IPI Press utilized the power of web programming to put computer media on the CDROM. It was not until later that broadband came into existence to allow the WWW to replace the need for a CDROM, and gave the IJVR enough reason to add an online edition. Over time, the VR field has become ever-increasingly divided into many subfields, many of which now have their own specialized journals. Over the last six years the Editor-in-Chief Prof. Zhigeng Pan, chose to maintain a broad interpretation of the definition of the term "virtual reality", and thus an equally broad range of subjects to publish in the IJVR. After recent reconsideration of the scope of the IJVR, IPI Press has decided to follow the lead of Prof. Pan and while keeping the name "Virtual Realiy" in the title of the journal for its historical significance, continue to maintain a very broad definition of the term "Virtual Reality".
</p>

<h2>IPI Press</h2>
<p>IPI Press invites authors of nonfiction books and monographs to submit their manuscripts for our consideration for publication. Unlike most large commercial publishers, we allow for color on not only the cover, but on all pages as well. All sizes and formats are available, and we can take a .pdf file from the author(s) that can include links to multimedia as well as text and static images. Though not true in the past, we now have the capability of selling our books on Amazon.com, and typically will provide both a print and a .pdf file of the book, as we do the IJVR. We provide 25% royalties on the net income from each book. (Net means after direct expenses of printing, mailing, and sales.) See some of our books at www.ipipress.com, including an international award winning book by Claudio Maccone and a book authored by John Suthers, the attorney general of the State of Colorado. 
<br/>
To contact IPI Press, please email ipipress.com@gmail.com.</p>


</div>
{% endblock %}

