{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
<h1> About Us </h1>

<h2> Editor-In-Chief And Editorial Office </h2>
<p>IPI Press is very pleased to announce that Dr. Cedric Buche of the Brest National Engineering School (ENIB) located at Brest, France, has been chosen as the new Editor-in-Chief of the IJVR. 
His institution will become the new host of the IJVR, and the new editorial office will be located in Brest. Authors wishing to submit papers to be reviewed for publication in the IJVR can be sent to him at buche@enib.fr. </p>

<h2> Mission Statement </h2>
<p>The original statement of purpose for the IJVR developed in 1995 which still holds true today was: 
"The International Journal of Virtual Reality is a multimedia publication dedicated to the cooperative development and application of diverse technologies associated with virtual reality. It is designed to disseminate relevant new information to professionals in all aspects of the field using the latest in publishing technology."
<br/>
Over time, the VR field has become ever-increasingly divided into many subfields, many of which now have their own specialized journals. Over the last six years the Editor-in-Chief Prof. Zhigeng Pan, chose to maintain a broad interpretation of the definition of the term "virtual reality", and thus an equally broad range of subjects to publish in the IJVR. After recent reconsideration of the scope of the IJVR, IPI Press has decided to follow the lead of Prof. Pan and while keeping the name "Virtual Realiy" in the title of the journal for its historical significance, continue to maintain a very broad definition of the term "Virtual Reality".
<br/>
The term "International" in the title continues to be an emphasis, but even more so in the current world of advanced international telecommunications and ubiquitus computer technologies. The IJVR will continue to emphasize its international character by encouraging computer scientists in underdeveloped nations and nations where English is a second language to actively participate as authors, as associates, and as subscribers. The term "International" in the title continues to be an emphasis, but even more so in the current world of advanced international telecommunications and ubiquitus computer technologies. The IJVR will continue to emphasize its international character by encouraging computer scientists in underdeveloped nations and nations where English is a second language to actively participate as authors, as associates, and as subscribers. </p>

<h2>History</h2>
<p>The IJVR journal has evolved as the potential for this technology has evolved over the last 30 years. We have been in existence since 1995, and were headquartered in Hangzhou, China, from 2006 to 2012. As founder and original Editor-in-Chief of the IJVR in the USA in 1995, I (Richard Blade, Ph.D.) want to personally commend and thank the Chinese editorial office under Prof. Zhigeng Pan, the EiC, for their outstanding job of managing the website, printing, and mailing the IJVR from 2006 through 2012. Being subsidized by various sources, the website remained open to the public and the most of the Asian institutional print subscribers were not charged for their subscriptions. Even the international subscribers of the print copy were charged relatively little compared to comparable computer science journals. Now that the IJVR is hosted in France, the policy is a full access online.

</p>



</div>
{% endblock %}

