{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
<h3> Editorial Board </h3><br><br>

<b>EDITORS-IN-CHIEF (since 2013)</b><br><br>

<table>
<tr>

<td >
	<img src="{{asset('images/buche.jpeg')}}" height="110px"></img>

</td>

<td style="padding-left:15px;">
<address>
  <strong>
Dr. Buche Cédric
</stong><br>
CERV - Centre Européen de Réalité Virtuelle<br>
25, rue Claude Chappe<br>
29280 PLOUZANE, France<br>
e-mail: buche@enib.fr<br>
</address>
</td></tr></table>


<br><br>

<b>FOUNDING EDITOR (1995->2006)</b><br><br>
<table>
<tr>

<td >
	<img src="{{asset('images/blade.jpeg')}}" height="110px" ></img>

</td>

<td style="padding-left:15px;">

<address>
  <strong>
Dr Richard Blade<br>
</strong>
IPI Press<br>
University of Colorado<br>
USA<br>
email : rich1600@gmail.com<br>





</address>
</td></tr></table>
<br><br>

<b>PREVIOUS EDITOR (2006->2012)</b><br><br>
<table>
<tr>

<td >
	<img src="{{asset('images/Zhigeng.jpeg')}}" height="110px"></img>

</td>

<td style="padding-left:15px;">

<address>
  <strong>
Pr. Zhigeng Pan<br>
</strong>

Hangzhou Normal University, <br>
Hangzhou<br>
China<br>
email : zgpan@cad.zju.edu.cn<br>

</address>
</td></tr></table>
</p>



</div>
{% endblock %}

