{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">
Journal Presentation

<br><br><br>

Last issues
<br><br><br>

</div>
{% endblock %}

