{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<link href="{{ asset('css/home.css.twig') }}" rel="stylesheet" />
<div class="container">

<h2>Welcome to the International Journal of Virtual Reality (IJVR)</h2>
<br>
The IJVR is a professional journal dedicated to the promotion and publication of new research and technology in the realm of Virtual Reality. The information regarding this new and constantly emerging technology is of interest to computer media professionals worldwide as well as others interested in the expanding potential of virtual reality. The journal has been published since 1995 when virtual reality was still in its infancy. 
<br><br><br>

<div width="80%" style="float:left">
<h2>Last issue</h2>

		<div class="col-md-12">
			<div class="row">
				<div >			
				    
										
					<table class="table table-hover table-bordered">
						{%for a in article%}
							<tr><td>
							<a href="{{path('ijvr_search_single_article',{'id':a.id})}}"> {{a.title}} </a>

							</td></tr>
						{%endfor%}
					</table>
				</div>
			</div>
			
			
			
		</div>
	
</div>

<div width="20%" style="float:right">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Metrics</h3>
  </div>
  <div class="panel-body">
    Acceptance rate : x %
  </div>
</div>



</div>

<div class="row">
<div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
<br><br><br>
  <ul>
    <li><img src="http://o.aolcdn.com/hss/storage/midas/3a46d7cfdf368f98b6ffd7923db67c58/200264155/morpheus.jpg" width="300" height="200"  alt="Issue01" class="img-responsive inline-block" alt="Responsive image"/></li>
    <li><img src="http://marjoriekayesbabylondreams.com/wp-content/uploads/2011/07/Holodek-300x200.jpg" width="300" height="200"  alt="Issue01" class="img-responsive inline-block" alt="Responsive image"/></li>
    <li><img src="http://1.bp.blogspot.com/-XzH57tdHKhs/T2R6C_tu4fI/AAAAAAAAANM/h6wRn8yvUDU/s1600/358365%255B1%255D.png" width="300" height="200"  alt="Issue02" class="img-responsive inline-block" alt="Responsive image"/></li>
   </ul>            
</div>

<br><br><br>
</div>
</div>
{% endblock %}

